.page {
    font-family: 'Inter', sans-serif;
    color: #212121;
    user-select: none;
}

.page__body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1, h2, h3, p {
    margin: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
}


.sidebar {
    position: relative;
    background-color: #F5F5F5;
    height: 100%;
    width: 400px;
}

.header {
    margin: 30px 15px 15px 15px;
}

.header__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header__heading--title {
    font-size: 26px;
    font-weight: 700;
}

.header__heading--add {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.header__heading--add:hover {
    background-color: #dcdcdc;
}

.header__heading--add-img {
    width: 24px;
    height: 24px;
}


.header__search {
    background-color: #E9E9E9;
    color: #B7B7B7;
    border: none;
    height: 40px;
    width: 100%;
    padding-left: 12px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    margin: 15px 0;
}

.header__search:focus {
    outline: none;
}



.actions {
    display: flex;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.actions__action {
    display: flex;
    row-gap: 5px;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.actions__action--icon {
    height: 45px;
    width: 45px;
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
}

.actions__action--icon-img {
    height: 24px;
    width: 24px;
}

.actions__action--subtitle {
    font-size: 14px;
}





.workspace {
    height: 100%;
    width: 100%;
}
