.page {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    user-select: none;
}

.page__body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1, h2, h3, p {
    margin: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
}

